.user-box {
    min-width: 50px;
    min-height: 20px;
    max-height: 500px;
    max-width: 500;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: 180px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    font-size: 16px;
    align-items: center;
    font-style: italic;
    padding-left: 10px;
    margin-left: auto;
    margin-top: 20px;
    
}

.user-box:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
.output {
    width: 900px;
    background-color: rgba(255, 255, 255, 0.1);
    height: auto;
    bottom: 70px;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    font-family: monospace;
    max-width: 100%;
    max-height: auto;
    padding: 10px;
}
